[submodule "themes/hugo-theme-hello-friend"]
	path = themes/hugo-theme-hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
[submodule "joestoica.github.io"]
	path = joestoica.github.io
	url = git@github.com:joestoica/joestoica.github.io.git
